@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');

*{margin: 0;
padding: 0}

.titulo {
  text-align: center;
  font-family: 'Bitter', serif;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: center;
  
}

nav {
  margin-top: 20px;
  max-width: 800px;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-around;
 
 
}

li {
  list-style: none;
  border-top: 2px solid #fbfbfb;
  border-bottom: 2px solid #fbfbfb;
  padding: 3px;
 
}
li:hover{
border-color: aqua;
  
}


a {
  text-decoration: none;
  color: white;
  
  
}
.caritem {
  position: absolute;
  right: 60px;
  top: 28px;
}
.greeting {
  margin-top: 80px;
  text-align: center;
}
.countSec{
  background-color: gray;
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
  padding: 10px;
}
.ItemCount {
  display:flex;
  justify-content: space-around;
  
}
.plus, .min {
background-color: gray;
border: none;

}
.num, .alCarrito {
  margin-bottom: 0;
}
.alCarrito {
  background-color: rgb(187, 187, 187);
  border-radius: 10px;
  padding: 2px;
}

.Finalizar {
  background-color: rgb(187, 187, 187);

  padding: 2px;
}
.catalog-container {
  text-align: center;
}

.destacado {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-ind {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  min-width: 300px;
  text-align: center;
}

.product-ind h2 {
  font-size: 18px;
  margin: 10px 0;
}

.product-ind img {
  max-width: 100%;
  height: auto;
}
.contador {
  display: flex;
  justify-content: center;
}

.countSec {
  margin-top: 10px;
}

.detalles{
  display: flex;
  justify-content: center;
}
.detail-ind{
  display: flex;
  justify-content: center;
}

.item-detail {
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  text-align: center;
}
.product-indDetail{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  min-width: 400px;
  text-align: center;
}
.product-Detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.general-form {
  max-width: 400px;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.Checkoutbtn button:hover {
  background-color: #0056b3;
}
